[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["echo 'Build completed'"]

[start]
cmd = "gunicorn --chdir feedback_app --bind 0.0.0.0:$PORT app:app --workers 4 --timeout 120"

